$blue:rgb(0,121,255);
$lightblue:rgb(105,124,154);
$medblue:rgb(75,106,155);
$darkblue:rgb(43,52,66);
$midnightblue: rgb(20,29,47);
$navy: rgb(30,42,71);
$lightbg:rgb(246,248,255);

*{box-sizing: border-box;}

#root {
  max-width: 1280px;
  margin: 0 auto;
  // padding: 1rem;
  text-align: center;
}
@mixin space-between-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin center-cotent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dark {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $midnightblue;
}

.light {
  color: $darkblue;
  background-color: $lightbg;
}
#app{
    width: 100vmin;
    height: 100vmin;
    margin: auto;
    // border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
      article{
        @include space-between-content();
          margin: 1rem;
  }
}
#app{
  article:nth-child(1){
    color:white;
    border:1px solid black;
      button{
        font-size: 13px;
        color:$darkblue;
        background-color: transparent;
        span p{
          display: inline-block;
        }
      }
  }
  article:nth-child(2){
    padding:1rem;
      input{
        // width:60%;
        border:none;
        background-color: transparent;
      }
  }
}
 #heading {
    padding: 0;
    margin: 0;
    font-size: 1.625 rem;
    font-weight: bold;
  }
  
.card{
  padding:3rem 1rem;
  border-radius: 1rem;
  color:white;
  background-color: $navy;
}
// .day{
//   background-image: url('./assets/icon-sun.svg');
// }
// .night {
//   background-image: url('./assets/icon-moon.svg');
// }
@media (width > 700px) and (width < 1000px) {
  #app{
    article{
      width:573px;
    }
  }
}
@media (width > 1000px){
  #app{
    article{
      width:730px;
    }
  }
}