@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
    // --background: #141d2f;
    //   --navy: #1e2a47;
    //   --blue: #0079ff;
    //   --white: #fff;
    //   --text: #fff;
  // color:var(--text);
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  // font-size: clamp(10px, 2vh, 16px);
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.light{
      --background: #141d2f;
      --articlebg:#1e2a47;
      --button: #0079ff; 
      --headingtext: #fff;
      --lightblue: #4b6a9b;
        --blue: #0079ff;
        --white: #fff;
        --text: #fff;
}
.dark{
    --background: #f6f8ff;
    --articlebg:#fff;
    --button: #0079ff;
    --headingtext:#141d2f;
    --lightblue: #222731;
    --text: #4b6a9b;
      --white: #222731;
      --medblue: #4b6a9b;
      --darkblue: #2b3442;
}

// @media (prefers-color-scheme: light) {
//   :root {
//     --background: #f6f8ff;
//     --navy: #fff;
//     --text:#4b6a9b;
//     --white:#222731;
//     --lightblue: #697c9a;
//     --medblue: #4b6a9b;
//     --darkblue: #2b3442;
//   }
// }
// @media (prefers-color-scheme: dark) {
//   :root {
//     ---background: #141d2f;
//       --navy: #1e2a47;
//       --blue: #0079ff;
//       --white: #fff;
//       --text: #fff;
//   }
// }

* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}
@mixin space-between-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
ol , li{
  padding: 0;
  margin: 0;
  list-style: none;
}
button, a{
  cursor: pointer;
}
// start buttons
button:not(.toggle) {
  height: 50px;
  width: 106px;
  text-transform: capitalize;
  border: none;
  border-radius: 1rem;
  color: #fff;
  background-color: var(--button);
  &:hover{
    background-color: rgba(0, 121, 255, .7);
  }
}
.toggle {
  border: none;
  width: 4rem;
  text-transform: capitalize;
  // border:1px solid white;
  background-color: transparent;
  &:hover{
    color:var(--lightblue);
  }
}
#darktoggle,
#lighttoggle {
  color: var(--text);
  @include space-between-content();
  &:hover{
      color: var(--lightblue);
  }
}
// end buttons
#app #intro{
  background-color: transparent;
}
#app{
  @include center-content();
  background-color: var(--background);
  transition:all .5s;
  min-height: 100vh;
    article{
      margin:1rem 0;
      padding:1rem;
      border-radius: 1rem;
      color:var(--text);
      background-color:var(--articlebg);
      // min-width:200px;
      // width: clamp(320px, 50%, 730px);
      @include space-between-content();
        @media (width > 1000px) {
          width: 730px;
      }
    }
    article:nth-child(2){
      div{
        @include center-content();
          input {
              border: none;
              outline: none;
              padding:1rem;
              color:var(--text);
              background-color: transparent;
              width: clamp(170px, 50%, 730px);
              &::placeholder{
                color:var(--text);
                width: clamp(170px, 50%, 730px);
              }
            }
        }
    }
}
form{
  @include space-between-content();
   width:100%;
}

.main{
  flex-direction: column;
}
.profile{
  float: left;
  height:100px;
  width:100px;
  border-radius: 50%;
  margin: 1rem 1.5rem;
  background-color: var(--background);
  @media (width > 1000px) {
    margin-left:auto;
  }
}
.main_content{
  width:100%;
}
.heading{
  color:var(--headingtext);
  font-size: 2rem;
}
.main_intro{
  width:100%;
  .heading, p:nth-child(2) {
        text-transform: capitalize;
  }
  a{
    color:var(--button);
    line-height: 2.5rem;
  }

  // border:1px solid black;
  @media (width > 1000px) {
      @include space-between-content();
      div{
        width:75%;
      }
      .heading, p:nth-child(2) {
          display: inline-block;
        }
        p:nth-child(2) {
          float: right;
        }
   }
}
 .main_content ol{
  @media (width > 1000px) {
    width:75%;
      margin-left: auto;
  }
}
.githubuser_data{
  height: 86px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  background-color: var(--background);
  border-radius: 1rem;
  padding:1rem;
  margin:1.5rem 0;
  li {
    margin:auto 0;
    // flex-direction: column;
  }
}
.icon_content{
  margin-top: 1.5rem;
  line-height: 2rem;
  @media (width > 700px) {
      height: 63px;
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
}